<settings>
	<category label="Settings">
        <setting id="tvo_user" type="text" label="10002" default=""/>
        <setting id="tvo_pass" type="text" label="10003" default=""/>
        <setting id="tvo_email" type="text" label="10004" default=""/>
        <setting id="enable_subscriptions" type="bool" label="10005" default="false" />
        <setting id="tv_directory" type="folder" label="10006" default="set"/>
        <setting id="enable_meta" type="bool" label="10007" default="true" />
        <setting id="service_time" type="text" label="Service Time" default="2000-01-01 00:00:00" visible="false"/>

	</category>
</settings>