<settings>
	<category label="Settings">
        <setting id="base_url" type="enum" values="FliXanity.com|CartoonHD.is|FliXanity.TV" label="10000" default="0"/>
        <setting id="ms_account" type="bool" label="10001" default="false"/>
        <setting id="ms_user" type="text" label="10002" default="" enable="!eq(-1,false)"/>
        <setting id="ms_pass" type="text" label="10003" default="" enable="!eq(-2,false)"/>
        <setting id="enable_subscriptions" type="bool" label="10005" default="false" />
        <setting id="tv_directory" type="folder" label="10006" default="set"/>
        <setting id="movie_directory" type="folder" label="10007" default="set"/>
        <setting id="autoplay" type="bool" label="10008" default="false" />
        <setting id="enable_meta" type="bool" label="10009" default="true" />
        <setting id="service_time" type="text" label="Service Time" default="2000-01-01 00:00:00" visible="false"/>
	</category>
    <category label="Trailers">
        <setting id="restrict_trailer" type="bool" label="20000" default="false"/>
	    <setting id="trailer_quality" type="enum" values="480p|720p|1080p" label="20001" default="1" enable="!eq(-1,false)"/>
        <setting id="trailer_one_click" type="bool" label="20002" default="false"/>
	</category>
</settings>