<settings>
	<category label="Movies">
        <setting id="default_sort" type="enum" values="Featured|Newly Added|Newly Released|Top Rated" label="10002" default="0" />
        <setting id="default_language" type="enum" values="English|Korean|Chinese|Japanese|Thai|Malay|Indonesian|Filipino|Arabic|Indian|Spanish|Portugeuse|French|German|Russian|Italian" label="10003" default="0" />
        <setting id="default_subtitle" type="enum" values="All|English|Chinese|Malay|Spanish|Arabic|Korean|Thai" label="10004" default="0" />
        <setting id="movie_directory" type="folder" label="10006" default="special://userdata/addon_data/plugin.video.youtubeonfire/movies"/>
        <setting id="enable_meta" type="bool" label="10007" default="true" />
        <setting id="play_max" type="bool" label="10008" default="true" />
        <setting id="service_time" type="text" label="Service Time" default="2000-01-01 00:00:00" visible="false"/>
	</category>
	<category label="Parental Control">
        <setting id="enable_pc_settings" type="text" label="20000" visible="true" default="UNLOCKED" enable="false"/>
		<setting id="enable_pc" type="bool" label="20001" default="false" enable="eq(-1,UNLOCKED)"/>
        <setting id="watershed_pc" type="enum" values="15:00|16:00|17:00|18:00|19:00|20:00|21:00|22:00|23:00|ALWAYS ON" label="20002" default="6" enable="eq(-2,UNLOCKED)"/>
	    <setting id="pw_required_at" type="enum" values="G rated|PG rated|PG-13 rated|R rated" label="20003" default="2" enable="eq(-3,UNLOCKED)"/>
        <setting id="pc_pass" type="text" option="hidden" label="20004" default="0000" enable="eq(-4,UNLOCKED)"/>
        <setting id="pc_default" type="enum" values="PLAY|REQUIRE PIN" label="20005" default="1" enable="eq(-5,UNLOCKED)"/>
	</category>
</settings>